hr {

    margin: 0;
}

.rodape {

    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {

    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape {

        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {

        display: block;
    }

    .lista-rodape__item {

        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {

        text-decoration: none;
        color: var(--cinza);
        font-size: 14px;
        font-weight: 400;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {

        font-size: 14px;
        color: var(--cinza-titulo);
        margin: 2em 0 2em 0;

    }

    .rodape__titulo {

        font-size: 24px;
        margin-top: 1em;
        margin-right: 3em;
    }

    .lista-rodape__link:hover {

        color: var(--laranja);
    }

}

@media screen and (min-width: 1728px) {

    .lista-rodape {

        border-left: 1px solid var(--cinza-titulo);
        padding-left: 1em;
    }

    .lista-rodape__titulo {

        margin: 0.3em 0;
    }

    .rodape__titulo {

        margin: 0.5em 0;
        margin-left: 3em;
    }

    .rodape {

        padding: 3em 0;
    }
}