.novidades {

    padding: 2em;
    background-color: var(--branco);
}

.novidades__titulo, .novidades__texto {

    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.novidades__titulo {

    font-weight: 500;
    font-size: 18px;
}

.novidades__texto {

    font-weight: 300;
    margin: 1em 0;
    line-height: 24px;
}

.novidades__email {

    padding: 1em;
    border: 1px solid var(--titulo-card);
    border-radius: 24px;
    width: 90%;
    color: var(--titulo-card);
}

.novidades__email::placeholder {

    font-family: var(--fonte-principal);
    color: var(--titulo-card);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 1024px) {

    .novidades {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .novidades__titulo {

        font-size: 24px;
        width: 60%;
    }

    .novidades__email {

        width: 30%;
    }
    
    .novidades__texto {

        margin-right: 1em;
        width: 80%;
    }
}

@media screen and (min-width: 1728px) {

    .novidades {

        padding: 2em 20vw;
    }
}

