.topicos {

    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {

    font-weight: 300;
    color: var(--branco);
    margin-bottom: 1em;
}

.topicos__lista {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {

    margin: 1.5em 0.5em;
}

.topicos__link {

    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {

    .topicos__titulo {

        font-size: 24px;
        padding: 1em 0;
    }

    .topicos__link {

        font-size: 24px;
        padding: 0.5em;
    }

    .topicos__link:hover {

        background-color: var(--branco);
        color: var(--laranja);
    }
}

@media screen and (min-width: 1728px) {

    .topicos {

        padding: 2em 30vw;
    }
}
